fastapi==0.115.14
geopandas==1.0.1
numpy==2.2.5
pandas==2.2.3
pystac_client==0.8.6
pytest==8.3.5
rasterio==1.4.3
Requests==2.32.3
Shapely==2.1.0
tqdm==4.67.1
typer==0.15.3
click==8.0.4
minio==7.2.15
uvicorn[standard]
gunicorn==21.2.0
aiofiles==24.1.0


